@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background: var(--color-grey-900, #141414);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  max-width: 384px;
  width: 100%;
  height: auto;
  background: var(--color-grey-800, #1f1f1f);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
}
.profile-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-text h1 {
  color: var(--color-white, #fff);
  font-size: var(--font-size-text-preset-1, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.profile-text p {
  color: var(--color-green, #c4f82a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.profile-description p {
  color: var(--color-white, #ffffffbe);
  font-size: var(--font-size-text-preset-2, 14px);
  font-weight: 400;
  line-height: 150%;
}

.card-btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btn {
  padding: var(--spacing-150, 12px);
  gap: var(--spacing-100, 8px);
  border-radius: var(--spacing-100, 8px);
  background: var(--color-grey-700, #333);
  color: var(--color-white, #fff);
  font-size: var(--font-size-text-preset-2, 14px);
  font-weight: 700;
  line-height: 150%;
}

@media(max-width : 768px){
    body{
        padding: 40px;
    }
    section{
        max-width: 456px;
    }
}

@media(max-width: 520px){
    body{
        padding: 24px;
    }
    section{
        max-width: 384px;
        padding: 24px;
    }
}